@import url("https://unpkg.com/open-props/open-props.min.css");
@import url("https://unpkg.com/open-props/normalize.min.css");
:root {
  --bg: hsl(0 0% 2%);
  --color: hsl(0 0% 100% / 0.1);
  --underline-width: 1lh;
  --underline-block-width: 200vmax;
  --underline-color: hsl(0 0% 50% / 0.05);
  --underline-transition: 5s;
  --finish-fill: hsl(0 0% 100%);
  --accent: hsl(0 0% 100%);
  --fill: hsl(0 0% 50%);
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: radial-gradient(ellipse at bottom, #090c10f8 0%, #000000 100%);
  font-family: "Google Sans", sans-serif, system-ui;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
